<footer class="text-center">
  <nav data-scroll-to-content="true">
    <ul class="list-inline">
      <li><%= link_to 'Hackraise', root_path %></li>
      <li><%= link_to 'Assembly', 'https://assembly.com/helpful' %></li>
      <li><%= link_to 'Blog', 'https://medium.com/@Hackraise' %></li>
      <li><%= link_to 'Twitter', 'https://twitter.com/tryhelpful', target:'_blank' %></li>
      <li class="divider"></li>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
    </ul>
  </nav>

  <h2>Thank you for your time. We know it's precious.</h2>

  <p class="copyright"><%= t('.copyright').html_safe %></p>
</footer>
