<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:meta) %>
    <%= yield(:meta) -%>
  <% else %>
    <title>Helpful</title>
  <% end %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= page_specific_js && javascript_include_tag(page_specific_js) %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if @account %>
    <input type="hidden" name="account-slug" value="<%= @account.slug %>">
  <% end %>
  <% if @conversation %>
    <input type="hidden" name="conversation-number" value="<%= @conversation.number %>">
  <% end %>
  <%= yield %>
  <%= javascript_include_tag "widget" %>
</body>
</html>
