<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:meta) %>
    <%= yield(:meta) -%>
  <% else %>
    <title>Hackraise</title>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= yield %>
</body>
</html>
